@model net.core.Samples.Web.Models.HomeViewModels.CustomerViewModel
@{ ViewData["Title"] = "Customer";
    var item = Model.Customer; }

<table>
    <tr>

        <th style="width:240px;margin-left:30px; margin-right:30px;">ID</th>
        <th style="width:240px;margin-left:30px; margin-right:30px;">Name</th>
        <th style="width:240px;margin-left:30px; margin-right:30px;">Surname</th>
        <th style="width:240px;margin-left:30px; margin-right:30px;">Balance</th>
        <th>
            Action
        </th>


    </tr>
    <tr>

        <td style="width:240px;margin-left:30px; margin-right:30px;">@item.ID</td>
        <td style="width:240px;margin-left:30px; margin-right:30px;">@item.Name</td>
        <td style="width:240px;margin-left:30px; margin-right:30px;">@item.Surname</td>
        <td style="width:240px;margin-left:30px; margin-right:30px;">@item.Balance</td>
        <td onclick="location.href = '@(Url.Action( "AddAccount","Home", new { customerID = item.ID }))'">
            Create Account For this Customer
        </td>


    </tr>
</table>
<table>
    <tr>

        <th style="width:240px;margin-left:30px; margin-right:30px;">Transaction ID</th>
        <th style="width:240px;margin-left:30px; margin-right:30px;">AccountID</th>
        <th style="width:240px;margin-left:30px; margin-right:30px;">Amount</th>


    </tr>
    @foreach (var transaction in item.Transactions)
    {
<tr>

    <td style="width:240px;margin-left:30px; margin-right:30px;">@transaction.ID</td>
    <td style="width:240px;margin-left:30px; margin-right:30px;">@transaction.AccountID</td>
    <td style="width:240px;margin-left:30px; margin-right:30px;">@transaction.Amount</td>


</tr>
}
</table>